<!DOCTYPE html>
<html lang="it" ng-app="index" ng-controller="IndexController" ng-init="indextab = 2" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap css-->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Custom css-->
    <link href="index.css" rel="stylesheet" type="text/css">

    <title>{{title}}</title>
</head>
<body ng-cloak>
<div class="container-fluid">
    <h2 ng-show="data.settings.numseggio>0">Seggio {{data.settings.numseggio}}</h2>
    <div>
        <uib-tabset active="indextab">
            <uib-tab index="0" ng-click='reloadGraphs()'>
                <uib-tab-heading>
                    <span class='glyphicon glyphicon-signal'></span> Grafici
                </uib-tab-heading>

                <div ng-show="data && data.dati && data.dati.length > 0" class="row">
                    <div class="col-md-4 col-sm-4">
                        <h4>AFFLUENZA ORE {{data.dati.slice(-1)[0].ora}}</h4>

                        Femmine: <span id="pdonne" class="bold"> {{ data.dati.slice(-1)[0].donne }} / {{ data.settings.maxdonne }} ({{data.dati.slice(-1)[0].percdonne }}%)</span>
                        <br>
                        Maschi: <span id="puomini" class="bold">{{ data.dati.slice(-1)[0].uomini }} / {{ data.settings.maxuomini }} ({{data.dati.slice(-1)[0].percuomini }}%)</span>
                        <br>
                        <br>
                        Totale: <span id="ptotale" class="bold">{{ data.dati.slice(-1)[0].totale }} / {{ data.settings.maxtotale }} ({{data.dati.slice(-1)[0].perctotale}}%)</span>

                    </div>
                    <div class="col-md-4 col-sm-4">
                        <canvas id="d_distribuzione" height="100%" class="chart chart-doughnut"
                                chart-data="data_distribuzione" chart-labels="labels_distribuzione"
                                chart-colors="colors_distribuzione" chart-type="type_distribuzione"
                                chart-options="options_distribuzione">
                        </canvas>
                    </div>
                    <div class="col-md-4 col-sm-4" id="pie_affluenza_div">
                        <canvas id="d_affluenza" height="100%" class="chart chart-doughnut"
                                chart-data="data_affluenza" chart-labels="labels_affluenza"
                                chart-colors="colors_affluenza" chart-type="type_affluenza"
                                chart-options="options_affluenza">
                        </canvas>
                    </div>
                </div>
                <br>
                <div>
                    <canvas id="line" height="100%" class="chart chart-line" chart-data="gdata"
                            chart-labels="glabels" chart-series="gseries" chart-options="goptions"
                            chart-colors="gcolors" chart-type="type_line" chart-dataset-override="goverride">
                    </canvas>
                </div>
            </uib-tab>

            <uib-tab index="1">
                <uib-tab-heading>
                    <span class="glyphicon glyphicon-th-list"></span> Dati
                </uib-tab-heading>
                <br>
                <button class="btn btn-success" ng-click="addOra()"><span class="glyphicon glyphicon-plus"></span> Aggiungi Dato</button>
                <button class="btn btn-danger" ng-click="removeLastOra()"><span class="glyphicon glyphicon-minus"></span> Rimuovi Ultimo Dato</button>
                <br><br>
                <table class="table">
                    <tr>
                        <th>ORE</th>
                        <th>FEMMINE</th>
                        <th>MASCHI</th>
                        <th>TOTALE</th>
                        <th>% FEMMINE</th>
                        <th>% MASCHI</th>
                        <th>% TOTALE</th>
                    </tr>
                    <tr ng-repeat="x in data.dati | orderBy: customOrder track by $index">
                        <td> ORE {{x.ora}}</td>
                        <td><div class="form-group"><input class="form-control" type="number" ng-model="x.donne"></div></td>
                        <td><div class="form-group"><input class="form-control" type="number" ng-model="x.uomini"></div></td>
                        <td>{{ x.totale = x.donne + x.uomini }}</td>
                        <td>{{ x.percdonne = data.settings.maxdonne !=0 ? ((x.donne/data.settings.maxdonne)*100).toFixed(1).toString() : 0  }}</td>
                        <td>{{ x.percuomini = data.settings.maxuomini !=0 ? ((x.uomini/data.settings.maxuomini)*100).toFixed(1).toString() : 0  }}</td>
                        <td>{{ x.perctotale = data.settings.maxtotale !=0 ? ((x.totale/data.settings.maxtotale)*100).toFixed(1).toString() : 0 }}</td>
                    </tr>
                </table>
            </uib-tab>
            <uib-tab index="2" active="true">
                <uib-tab-heading>
                    <span class="glyphicon glyphicon-wrench"></span> Impostazioni
                </uib-tab-heading>
                <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="numseggio">Numero Seggio:</label>
                        <input type="number" class="form-control" id="numseggio" ng-model="data.settings.numseggio">
                    </div>
                    <div class="form-group">
                        <label for="maxdonne">Totale Elettrici (F):</label>
                        <input type="number" class="form-control" id="maxdonne" ng-model="data.settings.maxdonne">
                    </div>
                    <div class="form-group">
                        <label for="maxuomini">Totale Elettori (M):</label>
                        <input type="number" class="form-control" id="maxuomini" ng-model="data.settings.maxuomini">
                    </div>
                    <div class="form-group">
                        <label for="maxtotale">Totale Elettori Seggio:</label>
                        <span id="maxtotale">{{data.settings.maxtotale = data.settings.maxuomini + data.settings.maxdonne}}</span>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-5">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dati Salvati</h3>
                        </div>
                        <div class="panel-body">
                            I dati attualmente vengono salvati solo localmente, permettendo di mantenerli chiudendo e riprendo successivamente il browser.
                            <br>
                            Nessun dato inserito viene attualmente inviato a server esterni.
                            <br>
                            È possibile utilizzare il pulsante qui sotto per resettare i dati alla situazione iniziale.
                            <br>
                            <br>

                            <button class="btn btn-danger" ng-click="resetData(true);"><span class="glyphicon glyphicon-trash"></span> Cancella tutti i dati</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Codice Sorgente e Licenza</h3>
                        </div>
                        <div class="panel-body">
                            Il codice sorgente è open source, disponibile su <a href="https://github.com/bonoweb/electionDay">GitHub</a>
                            <br>
                            Il codice è rilasciato sotto <a href="./LICENSE.txt">licenza MIT</a>
                        </div>
                    </div>
                </div>

            </div>
            </uib-tab>
            <li ng-show="indextab == 0" class="tab pull-right" active="false">
                <button class="btn btn-default btn-sm small" ng-click="toggle()">Commuta Grafici</button>
            </li>

        </uib-tabset>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; <a href="https://francescobuonocore.it">Francesco Buonocore</a> 2017 - <a href="https://github.com/bonoweb/electionDay">GitHub Project</a></p>
    </div>
</footer>

<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="index.js"></script>
<script src="node_modules/chart.js/dist/Chart.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
</body>
</html>